<settings>
	<servers>
		<server>
			<id>ossrh</id>
			<username>${env.OSSRH_USER_TOKEN}</username>
			<password>${env.OSSRH_PWD_TOKEN}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.keyname>${env.GPG_KEY}</gpg.keyname>
				<gpg.passphrase>${env.GPG_PWD}</gpg.passphrase>
			</properties>
			<repositories>
				<repository>
					<id>alfresco-public</id>
					<url>https://artifacts.alfresco.com/nexus/content/groups/public
					</url>
				</repository>
				<repository>
					<id>alfresco-public-snapshots</id>
					<url>https://artifacts.alfresco.com/nexus/content/groups/public-snapshots
					</url>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>gradecak-public</id>
					<url>http://gradecak.com/repository/releases</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>